.header-container {
    background: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
}

.header-contents {
    width: 30%;
    margin: 200px 200px;
    position: relative;
}

.header-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: right;
}

.header-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: dimgray;
    text-align: right;
}

.header-btn {
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0;
    background-color: tomato;
    color: white;
    font-weight: 600;
}

.previous-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    gap: 50px;
    margin-top: 200px;
}

.previous-image-container {
    width: 65%;
}

.previous-image {
    width: 100%;
    height: auto;
}

.previous-content-container {
    width: 60%;
}

.previous-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.previous-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #444343d7;
    font-weight: 500;
}

.previous-list {
    list-style-position: inside;
    padding-left: 0px;

}

.previous-list li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444343c3;
    font-size: 16px;
    font-weight: 500;
}

.my-container {
    width: 70%;
    margin: auto;
    margin-top: 150px;
}

.my-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.my-list-container {
    display: flex;
    justify-content: space-around;
}

.my {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}

.my p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444343c3;
    font-size: 16px;
    font-weight: 500;
    margin: 5px;
}

.positive-container {
    width: 60%;
    height: 200px;
    margin: auto;
    background-image: linear-gradient(to left, rgba(255,0,0,0), tomato), url('../images/watch.png');
    border-radius: 5px;
    margin-top: 100px;
}

.positive {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 30px;
}

.positive-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: white;
}

.positive-btn {
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    width: 120px;
    background-color: white;
    color: tomato;
    font-weight: 700;
}

footer {
    background-color: black;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.future-container {
    width: 30%;
}

.future-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    font-weight: 700;
}

.future-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #848282fd;
    font-size: 16px;
    font-weight: 500;
}

.future-container div img {
    margin-right: 10px;
}

.subscribe-container h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.subscribe-container input {
    padding: 20px;
}

.subscribe-container button {
    width: 140px;
    display: block;
    margin-top: 20px;
    font-size: medium;
}


